.scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
    background-color: $dark;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    transition: transform, background-color  .2s ease-in-out;
    display: none;
    @keyframes arrow-up-down {
        0% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(-5px);
        }

        75% {
            transform: translateY(5px);
        }

        100% {
            transform: translateY(0);
        }
    }

    &:hover {
        cursor: pointer;
        background-color: $gray-800;
        animation: arrow-up-down 1.5s linear infinite;
    }
}
